.title-projects {
  color: #0d335df5;
  font-family: "Unbounded", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin: 50px 0;
  text-align: center;
}

.main-projects {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.content-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  text-align: center;
}

/* imagem */
.content-project img {
  width: 100%;
  max-width: 800px;
  border-radius: 10px;
  margin: 80px 0;
}

/* título */
.content-project h2 {
  font-family: "Unbounded", sans-serif;
  font-size: 2rem;
}

/* descrição */
.description-project {
  font-size: 1.1rem;
  max-width: 800px;
  margin: 30px 0;
}

/* botão */
.content-project button {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background: #8696fe;
  padding: 20px 32px;
  color: #fff;
  font-size: 1rem;
  font-family: "Unbounded", sans-serif;
  transition: 0.3s;
}

.content-project button:hover {
  background: #7386ff;
}
